/*=========================
        RESPONSIVE
=========================*/

@media(max-width:900px){

    .hero{
    
    grid-template-columns:1fr;
    
    }
    
    .promociones{
    
    grid-template-columns:1fr;
    
    }
    
    footer{
    
    grid-template-columns:1fr;
    
    }
    
    .navbar{
    
    flex-direction:column;
    
    height:auto;
    
    padding:20px;
    
    gap:20px;
    
    }
    
    .menu{
    
    flex-wrap:wrap;
    
    justify-content:center;
    
    }
    
    }